<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <form method="POST">
        {% csrf_token %}
        <input name="username" placeholder="Username">
        <input name="password" placeholder="Password" type="password">
        {% if form.errors %}
          <p>Invalid login credentials</p>
        {% endif %}
        <button type="submit" class="btn btn-defualt">Submit</button>
        <p>Don't have an account yet? Register</p><a href={% url 'bashorunemmascrumy:signup' %}>Here</a>

     </form>

</body>
</html>